

.top-nav {
	margin-right: 25px;
	margin-left: 25px;
	padding-top: 0;
	margin-top: 0;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	z-index: 100;
}


.legend {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	text-align: center;
}

.legend h5 {
	border-radius: 5px;
	padding: 10px 10px;
	margin: 10px;
}
.dashboard-container {
	overflow: auto;
	display: flex;
	justify-content: space-between;
}

.login-nav {
	text-align: right;
	margin-right: 30px;
	padding-top: 30px;
}


.card-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 85%;
}

.menu {
	border-right: 1px solid black;
	padding-right: 20px;
	width: 15%

}

#title {
	text-align: center;
	font-size: 50px;
}

.card {
	background-color: white;
	border: solid 1px black;
	border-radius: 20px;
	width: 28%;
	margin-bottom: 20px;
	padding: 20px;
}


.menu li {
	color: white;
	display: block;
	background-color: grey;
	width: 80%;
	padding: 10px;
	margin: 10px;
	float: left;
}

#legend-title {
	margin-bottom: 0;
}



#article {
	background-color: green;
	color: white;
}

.article {
	background-color: green;
	color: white;
}

#video {
	background-color: orange;
	color: white;
}

.video {
	background-color: orange;
	color: white;
}

#website {
	background-color: teal;
	color: white;
}

.website {
	background-color: teal;
	color: white;
}

#document {
	background-color: purple;
	color: white;
}

.document {
	background-color: purple;
	color: white;
}
.card h1 {
	margin-top: 10px;
	text-align: center;
}

button {
	background-color: blue;
	border: none;
	color: white;
	width: 60px;
	height: 30px
}

.btn-delete {
	background-color: red;
	float: right;
}

.btn-edit {
	float: right;
}
