.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
}

#login-register {
  height: 100%;
  margin-top: 200px;
  text-align: center;
}

.side-nav {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  padding: 20px;
  border-right: 1px solid black;
  width: 100px;
}

.side-nav ul {
  list-style-type: none;
  width: 200px;
}

.side-nav li {
  background-color: orange;
  width: auto;
  color: white;
  margin-bottom: 10px;
}

.btn-login-nav {
  float: right;
}

button {
  outline: none;
  border: 1px solid blue;
  background-color: white;
  color: blue;
  margin: 5px;
  height: 30px;
  width: 100px;
}

button:hover {
  background-color: blue;
  color: white;
  border: none;
}

#register, #login {
  background-color: white;
  margin: 10px auto;
  border: 1px solid blue;
  border-radius: 10px;
  width: 23%;
  padding: 20px 0px; 
}

#register h1, #login h1 {
  color: blue;
  padding-bottom: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  align-items: center;
}

.login-form input {
  color:blue;
  text-align: center;
  height: 20px;
  border: 1px solid blue;
  margin-bottom: 5px;
}

/*.login-form input:focus {
  outline: none;
}

.login-form button:hover {
  background-color: green;
}*/