html, body, #root, .dashboard {
  height: 100%;
}
.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: 100%
}

* {
  padding: 0;
  margin: 0;
}

.side-nav {
  display: flex;
  width: 10%;
  float: left;
  margin-top: 5%;
  border-right: 1px solid black;
  height: 100%;

}

.content-container {
  margin-top: 5%;
  display: flex;
  float: right;
  height: 100%;
  width: 80%;
  overflow: auto;
}

#login-register {
  height: 100%;
  margin-top: 200px;
  text-align: center;
}

.side-nav ul {
  list-style-type: none;
  width: 80%;
  float: left;
}

.side-nav li {
  background-color: orange;
  width: auto;
  color: white;
  margin-bottom: 10px;
}

.btn-login-nav {
  float: right;
}

button {
  outline: none;
  border: 1px solid blue;
  background-color: white;
  color: blue;
  margin: 5px;
  height: 30px;
  width: 100px;
}

button:hover {
  background-color: blue;
  color: white;
  border: none;
}

#new-post, .edit-form {
  position: relative;
  z-index: 2;
  height: 350px;
  width: 500px;
}

.legend {
  float: right;
}

.edit-form {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-form select {
  padding: 0;
  border: none;
  text-align: center;
}

.edit-form textarea {
  width: auto;
  height: 100px;
  resize: none;
}

.edit-form label {
  text-align: left;
  font-size: 20px;
}

#register, #login, #new-post {
  background-color: white;
  margin: 10px auto;
  border: 1px solid blue;
  border-radius: 10px;
  width: 23%;
  padding: 20px 0px; 
}

#register h1, #login h1 {
  color: blue;
  padding-bottom: 20px;
}
.login-form, .post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  align-items: center;
}

.login-form input {
  color:blue;
  text-align: center;
  height: 20px;
  border: 1px solid blue;
  margin-bottom: 5px;
}

/*.login-form input:focus {
  outline: none;
}

.login-form button:hover {
  background-color: green;
}*/